.container{
    background-color: beige;
}

/* TOP */

.top-info{
    background-color: red;
    padding: 15px;
    border-left-width: 3px;
    display: flex;
}

.book-title{
    background-color: pink;
    width: 90%;
}

.wishbutton{
    width: 10;
    padding-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    
}

/* MIDDLE */

.main-info{
    background-color: green;
    display: flex;
    
}

.book-cover{
    margin: 1em
}

.book-cover img{
    width: 200px
}

.book-details{
    background-color: bisque;
    margin: 1em;
    width: 600px

}

/* BOTTOM */

.other-info{
    background-color: cyan;
    margin-top: 1em
}

/* OTHERS */

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: brown;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;

  }
  
  /* Popup arrow 
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } */
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  

  /* Add animation (fade in the popup) 
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } */