.list{
    background-color: #f5f5f7;
    padding: 3%;
}
.list-contents{
    width: 80%;
    margin: 0 5%;
    background-color: #fff;
    border-radius: 5px;
    padding: 3% 5%;
}
.list-contents h3{
    padding-bottom: 1%;
}
.list-border{
    border-top: 1px solid #bfbfbf;
}
.list-books{
    padding: 4%;
    display: flex;
    justify-content: space-between;
}
.list-books img{
    width: 100%;
    max-width: 150px;
}
.list-books div{
    padding: 0 1%;
}
.list-books ol{
    font-weight: 700;
    font-size: clamp(0.8rem, 1.1vw, 1.2rem);
}
.list-books ul{
    font-size: small;
    color: #828282;
}