* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  box-sizing: border-box;
}

.booklist_explain {
  width: 103%;
  transform: translateX(-1.5%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  padding: 10px 10px 10px 0;
  border-bottom: double 5px #7e5539;
  margin-bottom: 10px;

  font-weight: 600;
}

.booklist_explain #first {
  width: 18%;
  display: flex;
  justify-content: end;
  font-size: 0.8em;
}

#line {
  border: solid 2px #7e5539;
}

#mid {
  text-align: center;
  width: 67%;
}

#last {
  width: 13%;
  text-align: center;
}

.booklist_explain #first div:first-child {
  /* border: solid 1px red; */
  /* padding-right: 2px; */
  /* border-right: #7e5539 solid 3px; */
  margin: 0 10px;
}

.booklist_explain #first div:last-child {
  /* padding-left: 2px; */
  margin: 0 10px;
}

.container {
  /* border: solid 1px blue; */
}

.booksArea {
  /* border: solid 1px red; */
  text-align: center;
  min-height: 67vh;
}

#loading_text {
  font-size: 3em;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book {
  border-bottom: solid 2px #7e5539;
  padding: 5px 0;
  margin-bottom: 10px;
}

.book_container {
  /* border: solid 1px green; */
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.book_firstDiv {
  width: 15%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.book_firstDiv input[type="checkbox"] {
  width: 1.7em;
  height: 1.7em;
  margin: 0 10px;
}

.book_midDiv {
  width: 70%;
  display: flex;
  align-items: center;
}

.book_lastDiv {
  width: 10%;
}

.book_lastDiv button {
  background: none;
  border: none;
  width: 1.7em;
}

.book_lastDiv button img {
  width: 100%;
  border: none;
}

/* .book img {
    width: 40%;
    max-width: 150px;
    margin-right: 2em;
    border: solid 1px black;
} */

.bookInfo {
  width: 58%;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.bookInfo #title {
  margin-bottom: 2em;
}

.purchased {
  text-decoration: line-through;
}

#noBookImg {
  width: 43%;
  max-width: 150px;
  margin-right: 2em;
  /* position: relative;
    border: solid 1px red; */
  display: flex;
  justify-content: center;
}

#noBookImg img {
  width: 100%;
}

#noImg_info {
  position: absolute;
  /* border: solid 1px blue; */
  transform: translateY(1.3em);
  color: white;
  width: 20%;
  max-width: 135px;
  text-align: center;
  font-size: 0.8em;
}

.bookimg_title {
  margin-bottom: 10px;
  /* border: solid 1px red; */
}

.purchased_defult {
  display: none;
}

.purchased_ment {
  display: block;
  text-decoration: none;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

.read {
  border-radius: 30px;
  background-color: rgba(250, 237, 205, 0.6);
}

/*검색 창 css 조절*/

.modal_content {
  margin-top: 4vh !important;
}

@media (max-width: 430px) {
  .bookInfo {
    font-size: 0.5em;
  }

  #noBookImg {
    margin-right: 1em;
  }

  .bookimg_author {
    display: none;
  }

  .booklist_explain {
    font-size: 0.9em;
  }

  .booklist_explain #first div:first-child,
  .booklist_explain #first div:last-child {
    padding: 0;
    margin: 0;
  }

  .booklist_explain #first div:last-child {
    margin-left: 7px;
  }
}

@media (max-width: 768px) {
  .bookInfo {
    font-size: 1em;
    font-weight: 600;
  }

  .booklist_explain #first div:first-child {
    padding: 0;
    margin-right: 0;
  }

  .booklist_explain #first div:last-child {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
}