.sub-title{
    background-color: #fafafa;
    display: flex;
    justify-content: center;    
    padding: 0.8% 15%;
    border-bottom: 1px solid #e9e9eb;
    flex-wrap: wrap;
    font-size: 14px;
}
.sub-title a{
    text-decoration: none;
    color:#5f5f65;
    border-bottom: 1px solid #fafafa;
    margin: 0 10px;
}
.sub-title a:hover{
    color: #323233;
    font-weight: 700;
    border-bottom: 1px solid #c2c2c2;
}