h3 {
    font-weight: bold;
}
ul {
    list-style: none; /* 모든 ul 요소의 점 제거 */
    margin: 0;
    padding: 0;
}
ol {
    margin: 0;
    padding: 0;
}
.list{
    background-color: #f5f5f7;
    padding: 3%;
}
.list-container{
    width: 90%;
    margin: 0 5%;
    background-color: #fff;
    border-radius: 5px;
    padding: 3% 5%;
}
.list-container h3{
    padding-bottom: 1%;
}
.list-next-btn{
    display: flex; align-items: center;
}
.list-border{
    border-top: 1px solid #bfbfbf;
}
.list-contents-border{
    border-top: 2px solid #e8e8e8;
    margin: 2.5% 0;
}
.list-books{    
    padding: 4%;
}
.list-books section{
    display: flex;
}
.row{
    margin-bottom: 20px;
}
.list-books img{
    width: 100%;
    height: 100%;    
}
@media all and (max-width:700px){
    .list-books img{
        width: 100%;
        height: 100%;
        padding-right: 10px;  
    }
}
.list-books div{
    padding: 0 1%;
}
.list-books ol{
    font-weight: 700;
    font-size: clamp(1.0rem,1.4vw, 1.4rem);
}
.list-books ul{
    font-size: clamp(0.8rem,1.0vw, 1.0rem);
    color: #828282;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-item {
    display: inline-block;
    margin-right: 5px;
}
.page-item.active .page-link{
    background-color: #6ba361;
    color: white;
    border-color: #6ba361;
}
.page-link{
    color:#8c8c8c;
}
.page-item :hover{
    cursor: pointer;
    color: white;
    background-color: #6ba361a1;
}
.price-style{
    font-weight: 700;
    margin-top: 10px;
    color: rgb(86, 82, 82);
}
.day-style{
    font-weight: 700;
    margin-top: 10px;
    color: #1a75b7;
    font-size: clamp(1.0rem, 1.0vw, 1.0rem);
}
